<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango Surveyor</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo1.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout_modal.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <script type="text/javascript">
        var jQuery_3_6_1 = $.noConflict(true);
    </script>
</head>

<body>
    <!--Logout Modal-->


    <div id="logou" class="popup">
        <header>
            <span>Ready to Leave?</span>
            <div><i id="closing_logout" class="uil uil-times"></i>
            </div>
        </header>
        <div class="content">

            <p>Select "Logout" below if you are ready to end your current session.</p>

            <br>
            <div class="field">
                <button id="cancel_logout">Cancel</button>
                <button><a href="">Logout</a> </button>
            </div>
        </div>
    </div>

    <section id="sidebar" class="hide">
        <a style="padding-top: 10px;" href="#" class="brand"><img
                src="{{ url_for('static', filename='img/logo-black.png') }}" width="225px" height="55px" alt=""></a>
        <ul class="side-menu">
            <li><a href="{{ url_for('dashboard') }}"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li class="divider" data-text="main">Main</li>
            <!-- <li>
                <a href="#"><i class='bx bxs-inbox icon'></i> Upload Images <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Alert</a></li>
                    <li><a href="#">Badges</a></li>
                    <li><a href="#">Breadcrumbs</a></li>
                    <li><a href="#">Button</a></li>
                </ul>
            </li> -->
            <li><a href=""><i class='bx  bxs-notepad icon'></i> Make Predictions</a></li>
            <li><a href=""><i class='bx bx-history icon'></i> History</a></li>
            <li class="divider" data-text="Information">Information</li>
            <li><a class="active" href="{{ url_for('information') }}"><i class='bx bxs-notepad icon'></i> About Disease
                </a></li>
            <li id="hide_from_user"><a href="{{url_for('user_manager')}}"><i class='bx bxs-notepad icon'></i> Farm-User Management </a></li>
            {{hide_from_user | safe}}

        </ul>
        <div class="ads">
            <div class="wrapper">
                <!-- <a href="#" class="btn-upgrade">Upgrade</a> -->
                <p>A Product of <span>Mango Surveyor</span>. <span>All Rights Reserved</span></p>
            </div>
        </div>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <!-- <div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>-->
            </form>
            <!-- <a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a> -->
            <!-- <a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a> -->
            <h4 id="usename" style="font-size: 15px; font-weight: 600;">
            </h4>
            <span class="divider"></span>
            <div class="profile">

                <img src="{{ url_for('static', filename='img/user.png') }}" alt="">
                <ul class="profile-link">
                    <li><a href="#"><i class='bx bxs-user-circle icon'></i> Profile</a></li>
                    <li id="logout_"><a href="#"><i class='bx bxs-log-out-circle'></i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main id="main">
            <h1 class="title">About Diseases</h1>
            <ul class="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">About Diseases</a></li>
            </ul>
            <br>
            <br>
            <h1 class="title" style="text-align: center;">Information About Diseases</h1>
            <div class="center modal-box" id="first-form">
                <div class="fas fa-times" id="close-first"></div>
                <div class="fas   fa-leaf icon1"></div>
                <header>Lets Get Started!</header>
                <p>
                    Start by Providing the Name of Your Garden.
                </p>
                <form action="#">
                    <div class="form-group">
                        <input type="text" placeholder="Type your Garden Name...">
                        <!-- <i class='bx bx-info-circle'></i> -->
                        <!-- <i class='fas fa-info' ></i> -->
                    </div>
                    <button id="first-submit">Submit</button>
                </form>
            </div>
            <div class="center modal-box" id="sec-form">
                <div class="fas fa-times" id="close-sec"></div>
                <div class="fas   fa-leaf icon1"></div>
                <header>Now Type Spieces!</header>
                <p>
                    Enter the name of the Specie in your Garden.
                </p>
                <form action="#">
                    <div class="form-group">
                        <input type="text" placeholder="Type the specie Name...">
                        <!-- <i class='bx bx-info-circle'></i> -->
                        <!-- <i class='fas fa-info' ></i> -->
                    </div>
                    <button id="sec-submit">Submit</button>
                </form>
            </div>
            <!-- <script>
                jQuery_3_6_1(document).ready(function () {

                    jQuery_3_6_1('#first-form').toggleClass("show-modal");
                    jQuery_3_6_1('#first-submit').click(function (e) {
                        jQuery_3_6_1('#first-form').toggleClass("show-modal");
                        jQuery_3_6_1('#sec-form').toggleClass("show-modal");

                    });
                    jQuery_3_6_1('#sec-submit').click(function (e) {
                        e.preventDefault();
                        // jQuery_3_6_1('#first-form').toggleClass("show-modal");
                        jQuery_3_6_1('#sec-form').toggleClass("show-modal");
                        // document.getElementById("main").style.visibility = "initial";
                        window.location.href = 'upload';
                        // alert("hello")

                    });

                    jQuery_3_6_1('#close-first').click(function () {
                        jQuery_3_6_1('#first-form').toggleClass("show-modal");
                        // jQuery_3_6_1('#sec-form').toggleClass("show-modal");
                         document.getElementById("main").style.visibility = "initial";


                    });

                    jQuery_3_6_1('#close-sec').click(function () {
                        // jQuery_3_6_1('#first-form').toggleClass("show-modal");
                        jQuery_3_6_1('#sec-form').toggleClass("show-modal");
                        document.getElementById("main").style.visibility = "initial";


                    });


                });
               //  });
            </script> -->



            <!-- <div class="container"> -->
            <ul class="cards">
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/sooty_mold.png') }}" alt="" width="120"
                                style="transform: rotate(70deg);">
                        </div>
                        <h2 class="card__title">Sooty Mold</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Sooty Mold</h2>
                        <p>Mango sooty mold (Meliola mangiferae) is one of the species of fungi that
                            grow on honeydew results from interactions among sap-feeding insects such
                            as soft scale (wax, green and cottony cushion scales), mealybugs, aphids,
                            whiteflies and treehoppers and non-parasitic fungi.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/anthracnose.png') }}" alt="" width="400px"
                                style="transform: rotate(30deg);">
                        </div>
                        <h2 class="card__title">Anthracnose</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Anthracnose</h2>
                        <p>Mango Anthracnose is a fungal infection caused by the fungus Colletotrichum
                            gloeosporioides and is presently recognized as the most destructive field and
                            post-harvest disease of mango worldwide.
                        </p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/apoderus_javanicus.png') }}" alt=""
                                width="220">
                        </div>
                        <h2 class="card__title">Apoderus Javanicus</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Apoderus Javanicus</h2>
                        <p>
                            The Apoderus Javanicus, also known as the mango seed beetle, can cause
                            damage to mango trees by feeding on the fruit and seeds of the tree, which
                            can lead to reduced yield and fruit quality. The beetles can also damage the
                            tree's leaves and bark.
                        </p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Bacterial_canker.png') }}" alt="" width="70"
                                style="transform: rotate(40deg);">
                        </div>
                        <h2 class="card__title">Bacterial <br>Canker</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Bacterial Canker</h2>
                        <p>Bacterial canker in mango occurs due to Bacterium which causes Angular,
                            water-soaked spots on leaves which coalesce and turn black; black cankerous
                            lesions on stems which crack and exude a gummy substance; irregular black
                            lesions on fruits which extend into the flesh and exude gum; fruits dropping
                            from plant.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Gall midge.png') }}" alt="" width="160">
                        </div>
                        <h2 class="card__title">Gall Midge</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Gall Midge</h2>
                        <p>The larvae of the gall midge feed on the shoots and fruit of the tree, causing the
                            formation of galls or swellings on the tree's branches and fruit. This can lead to
                            reduced yield and fruit quality, and in severe cases, can cause the death of the tree's
                            shoots.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Icerya Seychellarum.png') }}" alt=""
                                width="200" style="transform: rotate(50deg);">
                        </div>
                        <h2 class="card__title">Icerya<br> Seychellarum</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Icerya Seychellarum</h2>
                        <p>Icerya Seychellarum is a polyphagous phloem-feeding coccid. This insect
                            feeds on the underside of leaves, The pest injures the shoots, twigs, leaves,
                            branches, and fruits of mango by sucking plant fluid with the mouthparts,
                            causing deformation, defoliation.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Mictis longicornis.png') }}" alt=""
                                width="220">
                        </div>
                        <h2 class="card__title">Mictis<br> longicornis</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Mictis longicornis</h2>
                        <p>Mictis longicornis, also known as the mango stem borer, is a type of insect
                            that infests mango trees and can cause significant damage to the tree's stem
                            and branches..</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Dappula Tertia.png') }}" alt="" width="220"
                                style="transform: rotate(-40deg);">
                        </div>
                        <h2 class="card__title">Dappula Tertia</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Dappula Tertia</h2>
                        <p>Dappula is a genus of beetles. If a mango tree is infested by Dappula Tertia,
                            the larvae of the beetles will bore into the wood of the tree, causing damage to
                            the tree's stem and branches.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Dialeuropora-Decempuncta.png') }}" alt=""
                                width="200" style="transform: rotate(-5deg);">
                        </div>
                        <h2 class="card__title">Dialeuropora-Decempuncta</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Dialeuropora Decempuncta</h2>
                        <p>Dialeurodes is a genus of whitefly. They feed on the sap of plants and can
                            cause yellowing and wilting of the leaves, as well as the production of
                            honeydew which can lead to the growth of sooty mold.</p>
                    </div>
                </li>
                <li class="card cards__item">
                    <div class="card__frame">
                        <div class="card__picture">
                            <img src="{{ url_for('static', filename='img/Neomelicharia sparsa.png') }}" alt=""
                                width="250">
                        </div>
                        <h2 class="card__title">Neomelicharia<br> Sparsa</h2>
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <h2>Neomelicharia Sparsa</h2>
                        <p>Neomelicharia sparsa is a fungal disease that affects mango trees. The
                            symptoms include small, dark spots on the leaves and fruit, as well as
                            premature defoliation.</p>
                    </div>
                </li>
            </ul>

            <!-- </div> -->
        </main>
        <!-- MAIN -->
    </section>
    <!-- NAVBAR -->


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
        jQuery_3_6_1('#logout_').click(function (e) {
            e.preventDefault();
            jQuery_3_6_1('#logou').toggleClass("show");
        });
        jQuery_3_6_1('#closing_logout').click(function (e) {
            e.preventDefault();
            jQuery_3_6_1('#logou').toggleClass("show");
        });
        jQuery_3_6_1('#cancel_logout').click(function (e) {
            e.preventDefault();
            jQuery_3_6_1('#logou').toggleClass("show");
        });

        document.getElementById("usename").innerHTML = localStorage.getItem("username")
    </script>
</body>

</html>